{% extends "base.html" %}
{% block title %}We've received your response{% endblock %} 
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
	<div class="form-header">
		<h2 class="form-title">Thank you for participating</h2>
	{% if group %}
		<p class="form-description"><strong>Assigned group:</strong> {{ group }}</p>
	{% endif %}
	</div>
	<p>If you have any questions about this study or wish to withdraw your consent, please contact so-and-so@email.com</p>
	<p><a class="submit-btn" href="{{ url_for('survey') }}">Record another response</a></p>
{% endblock %}
