{% extends "base.html" %}
{% block title %}Survey Results{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block head %}
<style>
	/* Overrides /html.base container to fit table */
	.form-wrapper {
		max-width: none;
		width: 90%
		overflow-x: auto;
	}
</style>
{% endblock %}

{% block content %}
	<div class="form-header">
		<h2 class="form-title">Compiled survey results</h2>
	</div>
	{% if rows %}
		<table>
			<tr>
				{% for field in fieldnames %}
					<th>{{ field }}</th>
				{% endfor %}
			</tr>
			{% for row in rows %}
				<tr>
					{% for field in fieldnames %}
						<td>{{ row[field]  }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="form-description">No responses yet.</p>
	{% endif %}
{% endblock %}
